# Question 4: Use Webscraping to Extract GME Revenue Data

In [32]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [38]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data=requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
gme_revenue = pd.DataFrame(columns=['Date','Revenue'])
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    revenue =col[1].text
    gme_revenue =  pd.concat([gme_revenue, pd.DataFrame({"Date":date, "Revenue": revenue}, index=[0])], ignore_index=True)
gme_revenue
gme_revenue.tail()

    Date Revenue
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843