## Question 2: Use Webscraping to Extract Tesla Revenue Data

In [64]:
import pandas as pd
import requests
import html5lib
from bs4 import BeautifulSoup

In [66]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data=requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
tesla_revenue = pd.DataFrame(columns=['Date','Revenue'])
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    revenue =col[1].text
    tesla_revenue =  pd.concat([tesla_revenue, pd.DataFrame({"Date":date, "Revenue": revenue}, index=[0])], ignore_index=True)
tesla_revenue
tesla_revenue.tail()

    Date Revenue
8   2013  $2,013
9   2012    $413
10  2011    $204
11  2010    $117
12  2009    $112